modules = ["web", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Full Pipeline"

[[workflows.workflow]]
name = "Train Model"
author = 24271047
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python train_main.py"

[[workflows.workflow]]
name = "Run Visualization"
author = 24271047
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Full Pipeline"
author = 24271047
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python train_main.py --epochs 10 --max_rows 1500000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
